name: Deploy Workflow

on:
  push:
    branches:
      - "master"

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Install Node dependencies
        run: yarn --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@master
        env:
          FOLDER: dist
          ACCESS_TOKEN: ${{ secrets.GH_PAT }}
